<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>A1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>A10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>A10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
